.alphabet{
    width: 33.33%;
    background-color:bisque;
    padding: 10px;
}

.attempts{
    margin-top: 30px;
}

.alphabet button{
    width: 30px;
    height: 30px;
    margin: 5px;
}

.gallows, .word, .attempts, .countWord{
    font-weight: bold;
    font-size: 20px;
}

.word, .countWord{
    font-size:xx-large;
    margin: 20px 0px 20px;
    color:brown;
}
button:hover{
    background-color:cyan;
}