.wrapper {
  background-color: whitesmoke;
  list-style-type: none;
  padding: 0;
  border-radius: 3px;
  width: 500px;
}
.title{
    text-align: center;
}
.title{
    font-size: 20px;
    color: blue;
    font-weight: bold;
}
.form-row {
  display: flex;
  justify-content: flex-end;
  padding: .5em;
}
.form-row label {
  padding: 10px;
}
.form-row input, .form-row select {
  flex: 1;
}

.form-row button {
  padding: .5em;
}

.form-row button {
  background: gray;
  color: white;
  border: 0;
}
